# Example environment variables for Express backend
MONGODB_URI=mongodb+srv://abdihamidh12:BthUOKAJgajasshP@cluster0.hkgk60i.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=2b8e7c1e-4e2a-4e7e-9b2e-1a7e6c8d9f3a
PORT=5000
CLIENT_URL=https://deployment-website-sooty.vercel.app/